

.home {
    margin: auto;
}

    .home-noteboard-section {
            box-sizing: border-box;
            padding: 3vw;
            width: 33%;
            height: 53vw;
            float: left;
        }

            .noteboard {
                height: 100%;
                padding: 10px;
                border-radius: 20px;
                box-shadow: 0 6px 12px 2px rgba(0,0,0,0.2);
                display: flex;
                flex-direction: column;
                transition: transform ease-in-out 0.2s;
                transform: translate(0,2%) scale(1.035);

            }

            .noteboard:hover {
                cursor: pointer;
                transform: translate(0,2%) scale(1.07);
            }
                .noteboard-title {
                    margin-left: 10px;
                    margin-top: 10px;
                    margin-bottom: 5px;
                    text-align: left;
                    font-size: 1.5vw;
                }

                    .noteboard-button-icon {
                        float: right;
                        margin-right: 20px;
                        background-color: transparent;
                        height: 3vh;
                        width: 3vh;
                        border-radius: 1.5vh;
                        font-size: auto;
                        overflow: hidden;
                        font-weight: normal;
                        text-align: center;
                        font-size: 2vh;
                        padding: 0;
                        outline:0;
                    }

                    .noteboard-button-plus {
                        border: 1px solid rgb(29, 142, 238);
                        color: rgb(29, 142, 238);
                    }

                    .noteboard-button-minus {
                        border: 1px solid red;
                        color: red;
                    }

                .noteboard-tutorial {
                    font-size: 17px;
                    display: block;
                    box-sizing: border-box;
                    padding: 10px;
                    color: #bbbbbb;
                    margin-top: 50px;
                }


                .noteboard-notes {
                    width: 100%;
                    flex: 1;
                    overflow-y: scroll;
                    padding: 10px;
                    list-style: none;
                    overflow-x: hidden;

                }

                    .noteboard-note {
                        transition: transform ease-in-out 0.15s
                    }
                    .noteboard-delete {
                        transform: translateX(50px);
                    }
                    .noteboard-normal {
                        transform: translateX(0px);
                    }
                        .noteboard-text {
                            color: rgb(29, 76, 119);
                            width: 100%;
                            overflow: visible;
                            margin-top: -20px;
                            box-sizing: border-box;
                            resize: none;
                            border: none;
                            padding: 10px;
                            border-radius: 10px;
                            box-shadow: 0 0px 0px 0px rgba(0,0,0,0.2);
                            border: 1px solid rgb(168, 206, 241);
                            outline: 0;
                            font-size: 1.2vw;
                            transition: border ease-in-out 0.2s, box-shadow ease-in-out 0.1s, transform ease-in-out 0.15s;
                        }
                        .noteboard-passage {
                            color: black;
                            width: 100%;
                            overflow: visible;
                            box-sizing: border-box;
                            margin-top: -20px;
                            resize: none;
                            border: none;
                            border: 1px solid white;
                            padding: 10px;
                            border-radius: 10px;
                            box-shadow: 0 3px 12px 0px rgba(0,0,0,0.2);
                            outline: 0;
                            font-size: 1.2vw;
                            transition: border ease-in-out 0.2s, box-shadow ease-in-out 0.1s, transform ease-in-out 0.15s;
                        }


                        .noteboard-delete-icon {
                            position: relative;
                            height: 30px;
                            transform: translate(-50px, 17px);
                        }

                    .noteboard-button {
                        width: 100%;
                        overflow-x: hidden;
                        white-space: nowrap;
                    }
                        .noteboard-remove {
                            border: 0;
                            box-sizing: border-box;
                            width: 40%;
                            height: 40px;
                            margin: 20px 20px 0 0;
                            background-color: rgb(255, 60, 60);
                            color: white;
                            border-radius: 25px;
                            display: inline-block;
                            transition: width ease-in-out 0.1s;
                        }
                        .noteboard-submit {
                            border: 0;
                            width: 70%;
                            height: 40px;
                            margin: 10px 15% 10px 15%;
                            background-color: rgb(65, 199, 70);
                            color: white;
                            border-radius: 25px;
                            display: inline-block;
                            transition: width ease-in-out 0.1s;
                            outline:0;
                        }

    .home-top {
        width: 67%;
        float: left;
        padding: 3vw;

    }

        .home-photo-section {
            width: 100%;
            box-sizing: border-box;
        }

            .home-photo {
                box-sizing: border-box;
                padding: 1%;
                box-shadow: 0 3px 12px 3px rgba(0,0,0,0.2);
                border-radius: 20px;
                transition: transform ease-in-out 0.1s;
            }

            .home-photo:hover {
                cursor: pointer;
                /* transform: scale(1.05); */
            }
                .home-photo-img {
                    width: 100%;
                    border-radius: 20px;
                }


    .cards {
        padding: 2%;
        margin: 0 auto;
        width: fit-content;
        box-sizing: border-box;
        list-style: none;
    }

        .cards-card {
            padding: 10px;
            width: 17vw;
            height: 17vw;
            margin-top: 0;
            float: left;
        }


            .card-link {
                width: 100%;
                height: 100%;
                display: block;
            }

            .card-link:hover {
                cursor: pointer;
                text-decoration: none;
            }

                .card {
                    height: 100%;
                    width: 100%;
                    padding: 1.5vw;
                    transition: transform ease-in-out 0.2s;
                    transform: scale(1);
                    box-shadow: 0 3px 12px 0px rgba(0,0,0,0.2);
                    border-radius: 20px;
                    margin: 0;
                    box-sizing: border-box;
                }

                .card:hover {
                    transform: scale(1.03);
                }

                    .card-name {
                        font-size: 2vw;
                        color: #555555;
                        transform: translateY(-4vw);
                    }
                    .card-img {
                        margin-top: 6vw;
                        transform: translateY(-3.5vw);
                        width: 40%;
                    }

/*** smart phone ****/
@media screen and (max-width: 650px) {


    /* .home-noteboard-section {
        width: 100%;
        height: 120vw;
    }

        .noteboard-title {
            font-size: 4vw;
        }



        .noteboard-submit {
            height: 50px;
        }

    .cards-card {
        width: 100%;
        height: 120vw;
        margin-left: 0;
        margin-top: 10%;
    } */

    .home-top{
        width: 100%;
    }
    .home-noteboard-section {
        width: 100%;
        height: 100vw;
    }


        .noteboard-text {
            font-size: 2vw;
        }

        .noteboard-passage {
            font-size: 2vw;
        }

}

/*** large desktop ****/
@media screen and (min-width: 1000px) {

    /* .home-noteboard-section {
        height: 40vw;
        width: 30%;
        float: left;
    } */
}