.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* global */
:root {
  /* --theme-color: #166643; */
  /* --theme-color: #5F9EA0; */
  --theme-color: #4C5356;
  --navbar-color: rgb(0,0,0,0);
  --login-bar-width: 450px;
  --login-bar-margin: 15%;
}

body {
  margin: 0;
  padding: 0;
}

body h1{
	text-align: center;
	font-size: 30px;
  margin-top: 0;
}

footer{
	text-align: center;
	height:70px;
	background:#f1f1f1;
	padding-top:20px;
}

/* navbar override bootstrap */
.navbar-default {
  background-color: var(--navbar-color) !important;
  border-color: var(--navbar-color) !important;
}

.navbar-default .navbar-nav>li>a {
  color: black !important;
}

.background {
  background: url('../img/background35.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* login */
.welcome-msg{
	padding-top: 50px;
  margin-bottom: 60px;
	font-size: 36px;
  color: #373A3C;
}

.logo {
  width: 120px;
}

.login-bar {
  width: var(--login-bar-width);
	margin: 8% auto 6.5% auto;
}

.header {
	color: white;
	background: var(--theme-color);
	text-align: center;
  padding: 20px 0 20px 0;
}

form, .content {
  border: 1px solid #FFFFFF;
  background: white;
  border-radius: 0px 0px 10px 10px;
	text-align: center;
}

.input-group {
	margin: 35px 40px;
}

.input-group label {
  font-size: 20px;
	display: block;
	text-align: left;
}

.input-group input {
	width: 350px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  color: white;
  background: var(--theme-color);
  margin-top: 5px;
  margin-bottom: 25px !important;
  width: 90px;
  height: 45px;
}

/* settings */
.settings-bar {
  width: var(--login-bar-width);
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

* {
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.family-header {
	background: var(--theme-color);
	text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.family-tab:hover {
  background:green !important;
}
