.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* global */
:root {
  /* --theme-color: #166643; */
  /* --theme-color: #5F9EA0; */
  --theme-color: #166643;
  --navbar-color: #EEFCCE;
  --login-bar-width: 500px;
  --login-bar-margin: 15%;
}

body {
  margin: 0;
  padding: 0;
}

body h1{
	text-align: center;
	font-size: 30px;
}

footer{
	text-align: center;
	height:60px;
	background:#f4f4f4;
  margin-top:50px;
	padding-top:15px;
}

/* navbar override bootstrap */
.navbar-default {
  background-color: var(--navbar-color) !important;
}

/* login */
.welcome-msg{
	margin-top: 100px;
  margin-bottom: 100px;
	font-size: 36px;
}

.login-bar {
  width: var(--login-bar-width);
	margin: auto;
}

.header {
	color: white;
	background: var(--theme-color);
	text-align: center;
	border: 1px solid var(--theme-color);
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

form, .content {
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
	text-align: center;
}

.input-group {
	margin: 30px 20px 10px 30px;
}

.input-group label {
  font-size: 20px;
	display: block;
	text-align: left;
}

.input-group input {
	width: 400px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  color: white;
  background: var(--theme-color);
  margin-top: 30px;
  margin-bottom: 20px !important;
}

/* settings */
.settings-bar {
  width: var(--login-bar-width);
  margin: auto;
  margin-top: 150px;
}

* {
  -webkit-touch-callout: text; /* iOS Safari */
    -webkit-user-select: text; /* Safari */
     -khtml-user-select: text; /* Konqueror HTML */
       -moz-user-select: text; /* Firefox */
        -ms-user-select: text; /* Internet Explorer/Edge */
            user-select: text; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


