.memory {
  margin-top: 15%;
}

.year {
  width: 200px;
  height: 80px;
  font-size: 50px;
  background-color: #FF9F55;
  color: white;
  margin-left: 44%;
  margin-top: -8%;
  z-index: 2;
  text-align: center;
  position: relative;
}

.button {
  background-color: rgb(255, 255, 255, 0.3);
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 200%;
    background-color: grey;
    top: 18%;
    left: 50%;
}

.photos {
  width: 25%;
  margin-left: 20%;
  margin-bottom: 8%;
  margin-top: 8%;
}

/*Circle on the timeline*/
.photos::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #FF9F55;
  border-radius: 50%;
  z-index: 1;
  left: 49.4%;
}

/*For images on the left of timeline*/
.left {
  padding-left: 20px;
}

.arrow-left {
  margin-right: 50px;
  font-size: 40px;
  color: grey;
}

.time-left {
  position: absolute;
  margin-left: 53%;
  font-size: 30px;
}

/*For images on the right of timeline*/
.right {
  margin-left: 55%;
}

.arrow-right {
  font-size: 40px;
  color: grey;
  margin-right: 50px;
  margin-left: 40px;
}

.time-right {
  position: absolute;
  margin-left: 43%;
  font-size: 30px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index: 3;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

.carousel {
  width: 100%;
  position: relative;
}

.prev {
  position: absolute;
  float: left;
  font-size: 40px;
  margin-top: -35%;
}

.next {
  position: absolute;
  float: right;
  font-size: 40px;
  margin-top: -35%;
}
